.card {
    padding: 10px;
    height: 350px;
}

.card .PostItem-card-content {
    width: 100%;
}

.card .PostItem-card-content p{
    line-height:1.5rem;
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .PostItem-card-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    height: 180px;
    margin: auto;

}

.card .PostItem-card-image img.PostItem-image {
    height: 180px;
    margin: auto;
    padding: 0;
}
.card-action.Post-card-action {
    position: absolute;
    height: 50px;
    bottom: 5px;
}